ENABLE_COMING_SOON
NEXT_PUBLIC_USE_GIST_IN_PROD=false
NEXT_PUBLIC_GITHUB_GIST_CONTENT_URL=https://gist.githubusercontent.com/<your-user>/<gist-id>/raw/<file-name>.json
NEXT_PUBLIC_EMAILJS_USER_ID
NEXT_PUBLIC_EMAILJS_SERVICE_ID
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID
